<div class="container">
    <h1>Featured Courses</h1>
    <div class="course-container">
        <% featured.forEach(course => { %>
            <a href=<%= course.link %>>
            <div class="featured-course">
                <span class="course-title"><%= course.title %></span>
                <br>
                <span>Click to enroll</span>
            </div>
            </a>

        <% }); %>
    </div>
    </div>
</div>