<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Courses 101</title>
    <link rel="stylesheet" href="/css/style.css">
    <!-- <link rel="stylesheet" href="css/bootstrap.css"> -->
</head>
<body>
   <nav class="navbar">
       <div class="nav-group">
           <a href="/"><span class="control">Home</span></a>
           <a href="/courses"><span class="control">Courses</span></a>
           <a href="/instructors"><span class="control">Instructors</span></a>
        </div>
        <a href="/">
            <div class="title">Course Matters</div>
        </a>
        <div class="nav-group">
        <a href="/login"><span class="control btn">Log in</span></a>
        <a href="/signup"><span class="control btn dark">Sign up</span></a>
        </div>
    </nav>

    <%- body %>
        

</body>
</html>