<div class="outer-box">
    <div class="inner-box">
        <div class="box-title">Log in</div>
        <span><%=message%></span>
        <form action="/login" method="POST">
            <div class="input">
            <label for="email">Email</label>
            </div>
            <br>
            <div class="input">
            <input class="text-input" type="email" name="email" placeholder="Enter email">
            </div>
            <br>
            <div class="input">
            <label for="password">Password:</label>
            </div>
            <br>
            <div class="input">
            <input class="text-input" type="password" name="password" placeholder="Enter password">
            </div>
            <br>
            <div class="input">
            <input class = "btn-input" type="submit" value="Log in">
            </div>

        </form>
    </div>
</div>